<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Indicadores Agronómicos</h4>
      <h6 class="card-subtitle mb-2 text-muted">Aqui se muestran indicadores seleccionados</h6>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-tint fa-4x fa-fw text-info"></i><br/>
          <strong>3 días<br/>lluvia > 10 mm</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-tint fa-4x fa-fw text-info"></i><br/>
          <strong>250 mm<br/>lluvia en el mes</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-sun-o fa-4x fa-fw text-warning"></i><br/>
          <strong>7 días<br/>T > 25°C</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-sun-o fa-4x fa-fw text-warning"></i><br/>
          <strong>4 días<br/>T > 30°C</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-sun-o fa-4x fa-fw text-warning"></i><br/>
          <strong>2 días<br/>T > 34°C</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-dashboard fa-4x fa-fw text-info"></i><br/>
          <strong>8 días<br/>viento > 5 km/h</strong>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-center fixed-height-indicator">
        <div class="card-block">
          <i class="fa fa-dashboard fa-4x fa-fw text-info"></i><br/>
          <strong>3 días<br/>viento > 10 km/h</strong>
        </div>
      </div>
    </div>
  </div>
</div>
