<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Selección de Indicadores</h4>
      <h6 class="card-subtitle mb-2 text-muted">Seleccione los indicadores que desea ver en la sección <strong>Indicadores</strong></h6>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Temperatura</h4><hr>
      <div class="form-check" *ngFor="let ind of temperatureIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
          name='checkbox'
          type="checkbox"
          class="switch-input"
          [(ngModel)]="ind.enabled"
          (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}<br/>
          <span class="text-muted" *ngIf="ind.from && ind.to">
            ({{ind.from.day}}-{{ind.from.month}}-{{ind.from.year}} - {{ind.to.day}}-{{ind.to.month}}-{{ind.to.year}})
          </span>
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          <span class="hidden-text">Fechas</span>
        </button>
      </div>
      <div *ngIf="!areTemperaturesEqual()">
        <button class="btn btn-sm btn-warning btn-block" (click)="saveChangesTemperature()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Precipitaciones</h4><hr>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of rainIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}<br/>
          <span class="text-muted" *ngIf="ind.from && ind.to">
          ({{ind.from.day}}-{{ind.from.month}}-{{ind.from.year}} - {{ind.to.day}}-{{ind.to.month}}-{{ind.to.year}})
          </span>
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          <span class="hidden-text">Fechas</span>
        </button>
      </div>
      <div *ngIf="!areRainsEqual()">
        <button class="btn btn-sm btn-warning btn-block" (click)="saveChangesRain()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Viento</h4><hr>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of windIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}<br/>
          <span class="text-muted" *ngIf="ind.from && ind.to">
          ({{ind.from.day}}-{{ind.from.month}}-{{ind.from.year}} - {{ind.to.day}}-{{ind.to.month}}-{{ind.to.year}})
          </span>
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          <span class="hidden-text">Fechas</span>
        </button>
      </div>
      <div *ngIf="!areWindsEqual()">
        <button class="btn btn-sm btn-warning btn-block" (click)="saveChangesWind()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Humedad Relativa</h4><hr>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of humidityIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}<br/>
          <span class="text-muted" *ngIf="ind.from && ind.to">
          ({{ind.from.day}}-{{ind.from.month}}-{{ind.from.year}} - {{ind.to.day}}-{{ind.to.month}}-{{ind.to.year}})
          </span>
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          <span class="hidden-text">Fechas</span>
        </button>
      </div>
      <div *ngIf="!areHumidityEqual()">
        <button class="btn btn-sm btn-warning btn-block" (click)="saveChangesHumidity()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Radiación</h4><hr>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of radiationIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind, modal_content)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}<br/>
          <span class="text-muted" *ngIf="ind.from && ind.to">
          ({{ind.from.day}}-{{ind.from.month}}-{{ind.from.year}} - {{ind.to.day}}-{{ind.to.month}}-{{ind.to.year}})
          </span>
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          <span class="hidden-text">Fechas</span>
        </button>
      </div>
      <div *ngIf="!areRadiationEqual()">
        <button class="btn btn-sm btn-warning btn-block" (click)="saveChangesRadiation()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="col-xs-12 col-md-3 btn-indicators">
    <button class="btn btn-primary btn-block btn-lg" (click)="showIndicators()">Ver Indicadores</button>
  </div>
</div>

<ng-template #modal_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccione las fechas a consultar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Fecha de inicio</label>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="fInicio" [(ngModel)]="fromDate" ngbDatepicker #dIni="ngbDatepicker" (ngModelChange)="onDateChange($event)" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dIni.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Fecha de termino</label>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" name="fTermino" [(ngModel)]="toDate" ngbDatepicker #dTer="ngbDatepicker" (ngModelChange)="onDateChange($event)" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="dTer.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Guardar</button>
  </div>
</ng-template>
<ng-template
  #t
  let-date="date"
  let-focused="focused">
  <span class="custom-day"
      [class.focused]="focused"
      [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
      [class.faded]="isHovered(date) || isInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
