<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Selección de Indicadores</h4>
      <h6 class="card-subtitle mb-2 text-muted">Seleccione los indicadores que desea ver en la pantalla de Inicio</h6>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Temperatura</h4>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of temperatureIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>
      <div *ngIf="!areTemperaturesEqual()">
        <button class="btn btn-sm btn-warning" (click)="saveChangesTemperature()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Precipitaciones</h4>

      <!--<pre>{{temperatureIndicators | json}}</pre>-->

      <div class="form-check" *ngFor="let ind of rainIndicators">
        <label class="switch switch-default switch-pill switch-primary">
          <input
            name='checkbox'
            type="checkbox"
            class="switch-input"
            [(ngModel)]="ind.enabled"
            (change)='toggleIndicator(ind)'>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          {{ind.name}}
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content, ind)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>
      <div *ngIf="!areRainsEqual()">
        <button class="btn btn-sm btn-warning" (click)="saveChangesRain()">
          <i class="fa fa-save"></i>
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!--
<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Precipitaciones</h4>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Días con lluvia > 10 mm
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Lluvia total del mes (mm)
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>


    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Viento</h4>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Días con viento > 5 kms/hora
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Días con viento > 10 kms/hora
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Humedad Relativa</h4>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Promedio diario de humedad relativa del aire
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Radiación Solar</h4>

      <div class="form-check">
        <label class="switch switch-default switch-pill switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
        <label class="form-check-label">
          Radiación solar acumulada
        </label>
        <button class="btn btn-sm btn-primary float-right" (click)="open(modal_content)">
          <i class="fa fa-calendar"></i>
          Fechas
        </button>
      </div>
    </div>
  </div>
</div>
-->

<ng-template #modal_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccione las fechas a consultar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-datepicker
      #dp
      ngModel
      (ngModelChange)="onDateChange($event)"
      [displayMonths]="2"
      [dayTemplate]="t"
      name="dates">
    </ngb-datepicker>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template
  #t
  let-date="date"
  let-focused="focused">
  <span class="custom-day"
      [class.focused]="focused"
      [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
      [class.faded]="isHovered(date) || isInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
