// Here you can add other styles

$primary_color: #009639;
$seconday_color: #80bd01;

.app-header.navbar .navbar-brand {
  background-image: url('../assets/img/logo.png');
  /*background-image: none;*/
  font-size: .8rem;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

a {
  color: $primary_color;
}

a, a:active, a:focus {
  outline: none;
}

.fixed-height-indicator {
  min-height: 100px;
}

.btn-indicators {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background-color: $primary_color;
  border-color: $primary_color;
}

.btn-primary:hover {
  background-color: $seconday_color;
  border-color: $seconday_color;
}

.sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover, .navbar .sidebar .dropdown-toggle:hover {
  background-color: $primary_color;
}

.switch-primary > .switch-input:checked ~ .switch-label {
  background-color: $primary_color !important; 
}

.sidebar .nav-link.active i, .sidebar .navbar .active.dropdown-toggle i, .navbar .sidebar .active.dropdown-toggle i {
  color: $primary_color;
}

.sidebar .nav-link, .sidebar .navbar .dropdown-toggle, .navbar .sidebar .dropdown-toggle {
  font-size: 0.8rem;
  padding: 0.75rem 0.5rem;
}

@media only screen and (max-width: 768px) {
  .hidden-text {
    display: none;
  }
  .weatherForecast {
    padding-top: 20px;
  }
  .form-check-label {
    font-size: 0.75rem;
  }
}

@media (min-width: 992px) {
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link, .sidebar-minimized .sidebar .navbar .nav-item:hover > .dropdown-toggle, .navbar .sidebar-minimized .sidebar .nav-item:hover > .dropdown-toggle {
    background: $primary_color;
  }
  .brand-minimized .app-header.navbar .navbar-brand {
    background-image: url('../assets/img/logo-symbol.png');
  }
}